{% extends "_includes/default.njk" %}

{% block title %}steve.taylorwitte.com - articles{% endblock %}

{% block content %}
<div>
  <section class="mt-8 prose md:prose-lg max-w-none">
    <h2>
      Articles
    </h2>
    <article class="my-6 border-t-2 border-black">
      <a name='rails-mvp' href="/articles/coder-public-alpha/">
        <h3>
          An Overview of Coder Public Alpha
        </h3>
      </a>
      <p>
      Coder is a web-based IDE with the standout feature of giving you a scalable container, with full root access, to run your code. The cloud IDE has entered public alpha, and I was curious to see how well it performed and what, if any, were its shortcomings. This article is by ...
      </p>
    </article>
    <hr class="border-b">
    <article class="my-6">
      <a name='rails-mvp' href="/articles/rails-mvp/">
        <h3>
          The Story of a Rails MVP
        </h3>
      </a>
      <p>
      Some time ago I was sitting at my desk on a Friday, I had finished my sprint and was looking at a full day of investment time but had no idea what to tackle. The thought popped into my head that there might be a website or forum where I could get some inspiration. I thought ...
      </p>
    </article>
    <hr class="border-b">
    <article class="my-6">
      <a name='middleman-jekyll-thoughts' href="/articles/middleman-jekyll-thoughts/">
        <h3>
          Middleman & Jekyll, Thoughts and Takeaways
        </h3>
      </a>
      <p>
        There has been some discussions as of late among my coworkers and friends about replacing WordPress. We use it for marketing sites and so do a lot of dev shops and agencies, but it definitely has it’s pain points. Middleman and Jekyll both came up as options. So after looking ...
      </p>
    </article>
  </section>
</div>
{% endblock %}
