{% extends "_includes/default.njk" %}

{% block title %}steve.taylorwitte.com - contact{% endblock %}

{% block content %}
<div>
  <section class="mt-8 prose md:prose-lg max-w-none">
    <h2>
      Contact
    </h2>
    <article class="my-6 border-t-2 border-black">
      <h3>
        Email:
        <a href="mailto:stevetwitte@gmail.com">
          stevetwitte@gmail.com
        </a>
      </h3>
      <h3>
        LinkedIn:
        <a name="linkedin" href="https://www.linkedin.com/in/stevetwitte">
          linkedin.com/in/stevetwitte
        </a>
      </h3>
    </article>
  </section>
</div>
{% endblock %}
