{% extends "_includes/default.njk" %}

{% block title %}steve.taylorwitte.com - contact{% endblock %}

{% block content %}
<div>
  <section>
    <h2 class="font-light text-3xl md:text-4xl text-gray-900">
      Contact
    </h2>
    <div class="mt-8 mb-6">
      <a href="mailto:stevetwitte@gmail.com">
        <h2 class="font-light text-xl text-gray-900">Email:</h2>
        <h2 class="font-light text-2xl text-gray-900 underline">stevetwitte@gmail.com</h2>
      </a>
    </div>
  </section>
</div>
{% endblock %}
