{% extends "_includes/default.njk" %}

{% block title %}steve.taylorwitte.com - home{% endblock %}

{% block content %}
<div>
  <section class="mt-8 mb-6">
    <h2 class="font-light text-3xl md:text-4xl text-gray-900">
      Ahoy there...
    </h2>
    <p class="font-light text-xl text-gray-900 mt-2 ml-1 leading-10">
      I’m Stephen Taylor Witte, a software engineer with extensive experience in web development, including traditional MVC, serverless, SQL, and more. I enjoy creative problem solving regardless of the language, but my focus has been Ruby and PHP along with Javascript. In addition, I create programming education, music tech, and open source content, which you can find on my YouTube, Twitter, GitHub, etc...
    </p>
  </section>
  <hr class="border-b">
  <section class="my-6">
    <h2 class="font-light text-3xl text-gray-900">
      TLDR
    </h2>
    <ul>
      <li class="font-light text-xl text-gray-900 mt-2 ml-1 leading-10">
        <a name="github" class="underline" href="https://www.github.com/stevetwitte">github.com/stevetwitte</a>
      </li>
      <li class="font-light text-xl text-gray-900 mt-2 ml-1 leading-10">
        <a name="linkedin" class="underline" href="https://www.linkedin.com/in/stevetwitte">linkedin.com/in/stevetwitte</a>
      </li>
      <li class="font-light text-xl text-gray-900 mt-2 ml-1 leading-10">
        <a name="resume" class="underline" href="https://drive.google.com/file/d/1E8jNiwzaaZ34FYF0X69w2GU36FFupCsS/view?usp=sharing">resume-stephen-witte.pdf</a>
      </li>
      <li class="font-light text-xl text-gray-900 mt-2 ml-1 leading-10">
        <a name="email" class="underline" href="mailto:stevetwitte@gmail.com">stevetwitte@gmail.com</a>
      </li>
    </ul>
  </section>
</div>
{% endblock %}
