{% extends "_includes/default.njk" %}

{% block title %}steve.taylorwitte.com - home{% endblock %}

{% block content %}
<div>
  <section class="mt-12 prose md:prose-lg max-w-none">
    <h2>
      Ahoy there,
    </h2>
    <p>
      I’m Stephen Taylor Witte, a software engineer with extensive experience in web development, including traditional MVC, serverless, SQL, and more. I enjoy creative problem solving regardless of the language, but my focus has been Ruby and PHP along with Javascript. In addition, I create programming education, music tech, and open source content, which you can find on my YouTube, Twitter, GitHub, etc...
    </p>
  </section>
  <section class="mt-12 prose md:prose-lg max-w-none">
    <h2>
      TLDR:
    </h2>
    <ul>
      <li>
        <a name="github" class="underline" href="https://www.github.com/stevetwitte">github.com/stevetwitte</a>
      </li>
      <li>
        <a name="linkedin" class="underline" href="https://www.linkedin.com/in/stevetwitte">linkedin.com/in/stevetwitte</a>
      </li>
      <li>
        <a name="resume" class="underline" href="https://drive.google.com/file/d/1E8jNiwzaaZ34FYF0X69w2GU36FFupCsS/view?usp=sharing">resume-stephen-witte.pdf</a>
      </li>
      <li>
        <a name="email" class="underline" href="mailto:stevetwitte@gmail.com">stevetwitte@gmail.com</a>
      </li>
    </ul>
  </section>
</div>
{% endblock %}
