{% extends "_includes/default.njk" %}

{% block title %}steve.taylorwitte.com - sites{% endblock %}

{% block content %}
<div>
  <section>
    <h2 class="font-light text-3xl md:text-4xl text-gray-900">
      Web
    </h2>
    <div class="mt-8 mb-6">
      <a href="https://github.com/stevetwitte">
        <h2 class="font-light text-xl text-gray-900">GitHub:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">github.com/stevetwitte</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          My chosen site for hosting my open-source work and client work.
        </p>
      </a>
    </div>
    <hr class="border-b">
    <div class="my-6">
      <a href="https://twitter.com/stephentwitte">
        <h2 class="font-light text-xl text-gray-900">Twitter:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">twitter.com/stephentwitte</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          Mostly used to follow and post things I like. Great way to keep in touch as well. Check out who I'm following for some ideas.
        </p>
      </a>
    </div>
    <hr class="border-b">
    <div class="my-6">
      <a href="https://dev.to/stevetwitte">
        <h2 class="font-light text-xl text-gray-900">Dev.to:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">dev.to/stevetwitte</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          My favorite developer community on the web. I cross-post my blog here and highly recommend it.
        </p>
      </a>
    </div>
    <hr class="border-b">
    <div class="my-6">
      <a href="https://medium.com/@stevetwitte">
        <h2 class="font-light text-xl text-gray-900">Medium:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">medium.com/@stevetwitte</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          I really like the reading experience here but mostly only use it for a few blogs. Namely Signal v. Noise and Hacker Noon.
        </p>
      </a>
    </div>
    <hr class="border-b">
    <div class="my-6">
      <a href="https://repl.it/@stevetwitte">
        <h2 class="font-light text-xl text-gray-900">Repl.it:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">repl.it/@stevetwitte</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          I mostly use this as a way of testing ideas or getting my mind around a problem, but I may do more with it soon.
        </p>
      </a>
    </div>
    <hr class="border-b">
    <div class="my-6">
      <a href="https://codepen.io/stevetwitte">
        <h2 class="font-light text-xl text-gray-900">Codepen:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">codepen.io/stevetwitte</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          A place I use for prototyping and a great place for ideas/inspiration. I really want to use this more for component design.
        </p>
      </a>
    </div>
    <hr class="border-b">
    <div class="my-6">
      <a href="https://stevetwitte.myportfolio.com/">
        <h2 class="font-light text-xl text-gray-900">Photography:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">stevetwitte.myportfolio.com</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          This is where I post my photography. I post concert photos, nature, events...
        </p>
      </a>
    </div>
    <hr class="border-b">
    <div class="my-6">
      <a href="https://soundcloud.com/stevewitte">
        <h2 class="font-light text-xl text-gray-900">SoundCloud:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">soundcloud.com/stevewitte</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          Some of my old rock stuff is posted here as well as song experiments and demos.
        </p>
      </a>
    </div>
    <hr class="border-b">
    <div class="my-6">
      <a href="https://www.colourlovers.com/lover/stevetwitte">
        <h2 class="font-light text-xl text-gray-900">ColourLovers:</h2>
        <h2 class="font-light text-2xl text-gray-900 mb-1 underline">colourlovers.com/lover/stevetwitte</h2>
        <p class="font-light text-gray-900 text-lg leading-7">
          Mostly used for inspiration but I have a few things posted here that may be helpful.
        </p>
      </a>
    </div>
  </section>
</div>
{% endblock %}
