{% extends "_includes/default.njk" %}

{% block title %}steve.taylorwitte.com - sites{% endblock %}

{% block content %}
<div>
  <section class="mt-8 prose md:prose-lg max-w-none">
    <h2>
      Links
    </h2>
    <article class="my-6 border-t-2 border-black">
      <h3>
        GitHub:
        <a href="https://github.com/stevetwitte">
          github.com/stevetwitte
        </a>
      </h3>
      <p>
        My chosen site for hosting my open-source work and client work.
      </p>
    </article>

    <hr class="border-b">
    <article class="my-6">
      <h3>
        Twitter:
        <a href="https://twitter.com/stephentwitte">
          twitter.com/stephentwitte
        </a>
      </h3>
      <p>
        Mostly used to follow and post things I like. Great way to keep in touch as well. Check out who I'm following for some ideas.
      </p>
    </article>

    <hr class="border-b">
    <article class="my-6">
      <h3>
        Dev.to:
        <a href="https://dev.to/stevetwitte">
          dev.to/stevetwitte
        </a>
      </h3>
      <p>
        My favorite developer community on the web. I cross-post my blog here and highly recommend it.
      </p>
    </article>

    <hr class="border-b">
    <article class="my-6">
      <h3>
        Medium:
        <a href="https://medium.com/@stevetwitte">
          medium.com/@stevetwitte
        </a>
      </h3>
      <p>
        I really like the reading experience here but mostly only use it for a few blogs. Namely Signal v. Noise and Hacker Noon.
      </p>
    </article>

    <hr class="border-b">
    <article class="my-6">
      <h3>
        Repl.it:
        <a href="https://repl.it/@stevetwitte">
          repl.it/@stevetwitte
        </a>
      </h3>
      <p>
        I mostly use this as a way of testing ideas or getting my mind around a problem, but I may do more with it soon.
      </p>
    </article>

    <hr class="border-b">
    <article class="my-6">
      <h3>
        Codepen:
        <a href="https://codepen.io/stevetwitte">
          codepen.io/stevetwitte
        </a>
      </h3>
      <p>
        A place I use for prototyping and a great place for ideas/inspiration. I really want to use this more for component design.
      </p>
    </article>

    <hr class="border-b">
    <article class="my-6">
      <h3>
        Photography:
        <a href="https://stevetwitte.myportfolio.com/">
          stevetwitte.myportfolio.com
        </a>
      </h3>
      <p>
        This is where I post my photography. I post concert photos, nature, events...
      </p>
    </article>

    <hr class="border-b">
    <article class="my-6">
      <h3>
        SoundCloud:
        <a href="https://soundcloud.com/stevewitte">
          soundcloud.com/stevewitte
        </a>
      </h3>
      <p>
        Some of my old rock stuff is posted here as well as song experiments and demos.
      </p>
    </article>


    <hr class="border-b">
    <article class="my-6">
      <h3>
       ColourLovers:
      <a href="https://www.colourlovers.com/lover/stevetwitte">
          colourlovers.com/lover/stevetwitte
        </a>
      </h3>
      <p>
        Mostly used for inspiration but I have a few things posted here that may be helpful.
      </p>
    </article>
  </section>
</div>
{% endblock %}
